# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import time
import gmaps.datasets

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
weather_df = pd.read_csv("../WeatherPy/output_data/cities.csv")
weather_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Hilo,19.73,-155.09,71.01,73,20,3.36,US,1592673243
1,Rikitea,-23.12,-134.97,75.94,83,52,12.66,PF,1592673246
2,Castro,-24.79,-50.01,72.68,56,0,7.47,BR,1592673268
3,Sudzha,51.20,35.27,72.77,81,100,5.82,RU,1592673293
4,Mehamn,71.04,27.85,47.08,69,0,3.44,NO,1592673293
...,...,...,...,...,...,...,...,...,...
582,Hambantota,6.12,81.12,82.27,78,93,18.59,LK,1592673375
583,Salinópolis,-0.61,-47.36,83.79,73,5,12.01,BR,1592673375
584,Ensenada,31.87,-116.62,66.00,84,92,4.00,MX,1592673375
585,Deputatsky,69.30,139.90,65.62,47,0,0.96,RU,1592673375
586,Bissendorf,52.23,8.17,71.60,49,20,5.82,DE,1592673376

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
#configure gmaps
gmaps.configure(api_key=g_key)

#lat and lng as locations
locations = weather_df[["Lat", "Lng"]]

#humidity as variable humidity
humidity = weather_df["Humidity"]

In [4]:
#making heatmap
fig = gmaps.figure(center=(46.0, -5.0), zoom_level = 2)

#adding heat layer
heat_layer = gmaps.heatmap_layer(locations, weights = humidity, dissipating=False, 
                                 max_intensity=300, point_radius=5)

fig.add_layer(heat_layer)

#displaying map
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [5]:
#narrowing to citiies with tem between 70-80, no cloudiness and wind speed < 10 and dropping values that don't fit the criteria
perfect_weather_city = weather_df.loc[(weather_df["Wind Speed"] <=10)& (weather_df["Cloudiness"]==0) &
                                     (weather_df["Max Temp"]>=70) & (weather_df["Max Temp"]<= 80)].dropna()

perfect_weather_city

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
2,Castro,-24.79,-50.01,72.68,56,0,7.47,BR,1592673268
8,São Gonçalo do Sapucaí,-21.89,-45.60,75.94,57,0,4.16,BR,1592673293
31,Karratha,-20.74,116.85,70.59,38,0,9.95,AU,1592673265
47,East London,-33.02,27.91,70.45,42,0,4.90,ZA,1592673247
55,Chokurdakh,70.63,147.92,75.45,34,0,7.90,RU,1592673261
137,Korla,41.76,86.15,79.83,16,0,6.38,CN,1592673140
173,Albufeira,37.09,-8.25,75.20,64,0,9.17,PT,1592673208
180,Inongo,-1.95,18.27,75.00,56,0,1.39,CD,1592673319
288,Kiryat Gat,31.61,34.76,78.01,72,0,6.08,IL,1592673243
360,Pringsewu,-5.36,104.97,73.02,92,0,1.19,ID,1592673342
386,Hanko,59.83,22.95,70.00,64,0,1.99,FI,1592673345
400,Tiznit Province,29.58,-9.50,76.37,49,0,9.46,MA,1592673266
439,Verkhoyansk,67.54,133.38,71.42,38,0,3.65,RU,1592673353
445,Calama,-22.47,-68.93,71.60,6,0,6.93,CL,1592673353
482,Tshela,-4.98,12.93,76.32,73,0,1.86,CD,1592673358
487,San Fernando del Valle de Catamarca,-28.47,-65.79,75.00,34,0,1.99,AR,1592673360
516,Kalat,29.02,66.59,72.43,25,0,3.29,PK,1592673365
522,Mossamedes,-15.20,12.15,75.24,50,0,9.93,AO,1592673244

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [6]:
#storing into variable
hotel_df = perfect_weather_city.loc[:,["City", "Country", "Lat", "Lng"]]

#Add a "Hotel Name" column to the DataFrame
hotel_df["Hotel Name"] = ""

hotel_df

                                    City Country    Lat     Lng Hotel Name
2                                 Castro      BR -24.79  -50.01
8                 São Gonçalo do Sapucaí      BR -21.89  -45.60
31                              Karratha      AU -20.74  116.85
47                           East London      ZA -33.02   27.91
55                            Chokurdakh      RU  70.63  147.92
137                                Korla      CN  41.76   86.15
173                            Albufeira      PT  37.09   -8.25
180                               Inongo      CD  -1.95   18.27
288                           Kiryat Gat      IL  31.61   34.76
360                            Pringsewu      ID  -5.36  104.97
386                                Hanko      FI  59.83   22.95
400                      Tiznit Province      MA  29.58   -9.50
439                          Verkhoyansk      RU  67.54  133.38
445                               Calama      CL -22.47  -68.93
482                               Tshela      CD  -4.98   12.93
487  San Fernando del Valle de Catamarca      AR -28.47  -65.79
516                                Kalat      PK  29.02   66.59
522                           Mossamedes      AO -15.20   12.15

In [7]:
#setting parameters
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

params = {"type" : "hotel",
         "keyword":"hotel",
         "radis" :5000,
         "key" : g_key}

In [8]:
for index, row in hotel_df.iterrows():
    #getting lat and lng and city name
    lat = row["Lat"]
    lng=["Lng"]
    city_name = row["City"]
    
    #adding to params dict above
    params["location"] = f"{lat},{lng}"
    
    #url and API request
    print(f"Retrieving Results for {index}: {city_name}.")
    response = requests.get(base_url, params=params).json()
    results = response['results']
   
    #save the hotel name to hotel_df
    try:
        print(f"Closest hotel in {city_name} is {results[0]['name']}.")
        hotel_df.loc[index, "Hotel Name"] = results[0]['name']
        
    # if there is no hotel print the following
    except (KeyError, IndexError):
        print("Missing result. Skipping...")
    print("------------")
    
    time.sleep(1)
    
# Print end of search once searching is completed
print("-------Search Complete-------")

Retrieving Results for 2: Castro.
Missing result. Skipping...
------------
Retrieving Results for 8: São Gonçalo do Sapucaí.
Missing result. Skipping...
------------
Retrieving Results for 31: Karratha.
Missing result. Skipping...
------------
Retrieving Results for 47: East London.
Missing result. Skipping...
------------
Retrieving Results for 55: Chokurdakh.
Missing result. Skipping...
------------
Retrieving Results for 137: Korla.
Missing result. Skipping...
------------
Retrieving Results for 173: Albufeira.
Missing result. Skipping...
------------
Retrieving Results for 180: Inongo.
Missing result. Skipping...
------------
Retrieving Results for 288: Kiryat Gat.
Missing result. Skipping...
------------
Retrieving Results for 360: Pringsewu.
Missing result. Skipping...
------------
Retrieving Results for 386: Hanko.
Missing result. Skipping...
------------
Retrieving Results for 400: Tiznit Province.
Missing result. Skipping...
------------
Retrieving Results for 439: Verkhoyansk.
Missing result. Skipping...
------------
Retrieving Results for 445: Calama.
Missing result. Skipping...
------------
Retrieving Results for 482: Tshela.
Missing result. Skipping...
------------
Retrieving Results for 487: San Fernando del Valle de Catamarca.
Missing result. Skipping...
------------
Retrieving Results for 516: Kalat.
Missing result. Skipping...
------------
Retrieving Results for 522: Mossamedes.
Missing result. Skipping...
------------
-------Search Complete-------

In [9]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [10]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations, info_box_content = hotel_info)
fig.add_layer(markers)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))